/* ----------------------------------------------------------------------------------------
Template: Jirono - IT Solutions and Corporate Template
Version: 1.0.0
Author: tempload - support@tempload.com
 -----------------------------------------------------------------------------------------*/
/* ---------------------------------------------
Table of contents
------------------------------------------------
01. font & reset css
02. reset
03. global styles
04. header
05. welcome
06. features
07. team
08. pricing
09. blog
10. footer
11. pages
12. faq
13. aside
14. contact
15. preloader

--------------------------------------------- */
/* 
---------------------------------------------
font & reset css
--------------------------------------------- 
*/
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&subset=latin-ext");
/* 
---------------------------------------------
reset
--------------------------------------------- 
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, div
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
figure, header, nav, section, article, aside, footer, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;

}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

header, nav, section, article, aside, footer, hgroup {
  display: block;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  background-color: #fff;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

a {

  text-decoration: none !important;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 0px;
}

ul {
  margin-bottom: 0px;
}

/* 
---------------------------------------------
global styles
--------------------------------------------- 
*/
html,
body {
  /*background: #fff;*//*its Default body color*/

  background-color: #F2F2F2;
  color: #6F8BA4;
  /*color: #000;*/
  font-family: "Nunito", sans-serif;
}

::selection {
  background: #7B0101;
  color: #fff;
}

::-moz-selection {
  background: #7B0101;
  color: #fff;
}

.section {
  /*padding-top: 100px;
  padding-bottom: 70px;*/
  padding-top: 20px;
  padding-bottom:25px;
}

.section.colored {
  background: #F7FAFD;
}

.section.white {
  background: #fff;
}

.white-bg {
  background: #fff;
}

.left-heading.light .section-title {
  color: #ffffff;
}

.left-heading .section-title {
  font-weight: 700;
  font-size: 30px;
  color: #7B0101;
  letter-spacing: 2.12px;
  /*font-weight: 400;
  font-size: 28px;
  color: #3B566E;
  letter-spacing: 1.75px;*/
  height: 45px;
  margin-bottom: 10px;
  position: relative;
}
    
.center-heading {
  text-align: center;
}

.center-heading .section-title {
  /*font-weight: 400;
  font-size: 28px;
  color: #3B566E;
  letter-spacing: 1.75px;*/
  font-weight: 700;
  font-size: 30px;
  color: #7B0101;
  letter-spacing: 2.12px;
  line-height: 38px;
  margin-bottom: 20px;
}


.center-heading.colored .section-title {
  color: #ffffff;
}

.center-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 50px;
}

.center-text.colored {
  color: #E5E9F7;
}

.center-text p {
  margin-bottom: 30px;
}

.left-text {
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
}

.left-text.light {
  color: #E5E9F7;
}

.left-text p {
  margin-bottom: 30px;
}

.left-text p.dark {
  color: #3B566E;
}

.padding-bottom-top-60 {
  padding-top: 60px !important;
  padding-bottom: 60px !important;
}

.padding-bottom-80 {
  padding-bottom: 80px !important;
}

.border-bottom {
  border-bottom: 1px solid #F5F5F5 !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-bottom {
  -ms-flex-item-align: flex-end !important;
  align-self: flex-end !important;
}

.btn-primary-line {
  width: 160px;
  margin: auto;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background: #7B0101;*/
  background: linear-gradient(-135deg, #EC1C24, #7B0101);
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none !important;
  cursor: pointer;
  position: relative;
}

.btn-primary-line:hover {
  background: #7B0101;
  color: #fff;
}

.btn-white-line {
  width: 160px;
  margin: auto;
  display: inline-block;
  height: 44px;
  line-height: 45px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  color: #7B0101;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  outline: none !important;
  cursor: pointer;
  position: relative;
}

.btn-white-line:hover {
  background: #400000;
  color: #fff;
}

.btn-home {
  width: 100%;
  margin: auto;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #fff;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.88px;
  outline: none !important;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.btn-home:after {
  content: '';
  position: absolute;
  width: 150px;
  height: 100px;
  left: -70px;
  top: 0px;
  background: #F7FAFD;
  transform: rotate(60deg);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-home i {
  margin-left: 22px;
  margin-right: 32px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #3B566E;
}

.btn-home span {
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #3B566E;
}

.btn-home:hover i, .btn-home.active i {
  color: #fff;
  margin-left: 25px;
  margin-right: 37px;
}

.btn-home:hover:after, .btn-home.active:after {
  height: 120px;
  background: #7B0101;
}

.padding-top-0 {
  padding-top: 0px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.padding-bottom-30 {
  padding-bottom: 30px !important;
}

.padding-top-80 {
  padding-top: 80px !important;
}

.margin-bottom-0 {
  margin-bottom: 0px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-70 {
  margin-bottom: 70px !important;
}

.margin-bottom-80 {
  margin-bottom: 80px !important;
}

.margin-bottom-100 {
  margin-bottom: 100px !important;
}

blockquote {
  margin-bottom: 28px;
  padding: 20px;
  padding-top: 40px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #F4F8FB;
  overflow: hidden;
}

blockquote .text {
  position: relative;
  text-align: center;
}

blockquote .text p {
  position: relative;
  width: 100%;
  z-index: 2;
  margin-bottom: 10px !important;
}

blockquote .text:before {
  font-family: FontAwesome;
  content: "\f10d";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;
  font-size: 40px;
  color: #e1ecf4;
}

blockquote .text:after {
  font-family: FontAwesome;
  content: "\f10e";
  position: absolute;
  right: 0px;
  bottom: 0px;
  z-index: 1;
  font-size: 40px;
  color: #e1ecf4;
}

blockquote .author {
  color: #3B566E;
  text-align: center;
}

.page-gallery {
  height: 185px;
  display: block;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}

@media (max-width: 991px) {
  html, body {
    overflow-x: hidden;
  }
  .mobile-bottom-fix {
    margin-bottom: 30px;
  }
  .mobile-bottom-fix-big {
    margin-bottom: 60px;
  }
}

@media (max-width: 768px) {
  .page-gallery {
    height: 150px;
  }
  .btn-home {
    margin-bottom: 10px;
  }
}

/* 
---------------------------------------------
header
--------------------------------------------- 
*/
.header-area {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;


  box-shadow: 0 8px 6px -6px gray;

}

.header-area .main-nav .logo {
  float: left;
  /*margin-top: 34px;*/
  margin-top: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav {
  float: left;
  margin-top: 27px;
  margin-left: 80px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .nav li {
  padding-left: 20px;
  padding-right: 20px;
}

.header-area .main-nav .nav li:last-child {
  padding-right: 0px;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 600;
  font-size: 16px;
  /*color: #6F8BA4;*/
  color: #400000;
  /*color: #7B0101;*/
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1px;
}

.header-area .main-nav .nav li a:hover {
  /*color: #6F8BA4;*/
  color: #EC1C24;

}

.header-area .main-nav .nav li.submenu {
  position: relative;
  padding-right: 35px;
}

.header-area .main-nav .nav li.submenu:after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 12px;
  color: #6F8BA4;
  position: absolute;
  right: 18px;
  top: 12px;
}

.header-area .main-nav .nav li.submenu ul {
  position: absolute;
  width: 200px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  top: 40px;
  opacity: 0;
  transform: translateY(-2em);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

.header-area .main-nav .nav li.submenu ul li {
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.header-area .main-nav .nav li.submenu ul li a {
  display: block;
  background: #fff;
  color: #3B566E;
  padding-left: 20px;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  border-bottom: 1px solid #f5f5f5;
}

.header-area .main-nav .nav li.submenu ul li a:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 40px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #7B0101;
}

.header-area .main-nav .nav li.submenu ul li a:hover {
  

  padding-left: 25px;
}

.header-area .main-nav .nav li.submenu ul li a:hover:before {
  width: 3px;
}

.header-area .main-nav .nav li.submenu:hover ul {
  visibility: visible;
  opacity: 1;
  z-index: 1;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s;
}

.header-area .main-nav .menu-trigger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 23px;
  width: 32px;
  height: 40px;
  text-indent: -9999em;
  z-index: 99;
  right: 40px;
  display: none;
}

.header-area .main-nav .menu-trigger span,
.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background-color: #3B566E;
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  width: 75%;
}

.header-area .main-nav .menu-trigger span:before,
.header-area .main-nav .menu-trigger span:after {
  content: "";
}

.header-area .main-nav .menu-trigger span {
  top: 16px;
}

.header-area .main-nav .menu-trigger span:before {
  -moz-transform-origin: 33% 100%;
  -ms-transform-origin: 33% 100%;
  -webkit-transform-origin: 33% 100%;
  transform-origin: 33% 100%;
  top: -10px;
  z-index: 10;
}

.header-area .main-nav .menu-trigger span:after {
  -moz-transform-origin: 33% 0;
  -ms-transform-origin: 33% 0;
  -webkit-transform-origin: 33% 0;
  transform-origin: 33% 0;
  top: 10px;
}

.header-area .main-nav .menu-trigger.active span,
.header-area .main-nav .menu-trigger.active span:before,
.header-area .main-nav .menu-trigger.active span:after {
  /*background-color: transparent;*/
  background-color: transparent;
  width: 100%;
}

.header-area .main-nav .menu-trigger.active span:before {
  -moz-transform: translateY(6px) translateX(1px) rotate(45deg);
  -ms-transform: translateY(6px) translateX(1px) rotate(45deg);
  -webkit-transform: translateY(6px) translateX(1px) rotate(45deg);
  transform: translateY(6px) translateX(1px) rotate(45deg);
  background-color: #3B566E;
}

.header-area .main-nav .menu-trigger.active span:after {
  -moz-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -ms-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  -webkit-transform: translateY(-6px) translateX(1px) rotate(-45deg);
  transform: translateY(-6px) translateX(1px) rotate(-45deg);
  background-color: #3B566E;
}

.header-area .main-nav .header-buttons {
  float: right;
}

.header-area .main-nav .header-buttons li {
  float: left;
}

.header-area .main-nav .header-buttons li .btn-nav-line {
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #7B0101;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  height: 32px;
  margin-top: 5px;
  line-height: 31px;
  letter-spacing: 0.5px;
  background: none;
  color: #7B0101;
  position: relative;
  overflow: hidden;
  margin-top: 32px;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-width: 110px;
  text-align: center;
}

.header-area .main-nav .header-buttons li .btn-nav-line:hover {
  /*background: #7B0101;*/
  background: linear-gradient(-135deg, #EC1C24, #7B0101);
  color: #fff;
}

.header-area .main-nav .header-buttons li .btn-nav-primary {
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #7B0101;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  height: 32px;
  margin-top: 5px;
  line-height: 31px;
  letter-spacing: 0.5px;
  /*background: #7B0101;*/
  background: linear-gradient(-135deg, #EC1C24, #7B0101);
  color: #fff;
  position: relative;
  overflow: hidden;
  margin-left: 15px;
  margin-top: 32px;
  font-weight: 700;
  font-size: 12px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-width: 110px;
  text-align: center;
}

.header-area .main-nav .header-buttons li .btn-nav-primary:hover {
  background: #fff;
  color: #7B0101;
}

.header-area.header-sticky {
  background: #fff;
  height: 80px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.header-area.header-sticky .logo {
  margin-top: 26px;
}

.header-area.header-sticky .nav {
  margin-top: 21px !important;
}

.header-area.header-sticky .nav li a {
  color: #3B566E;
}

.header-area.header-sticky .nav li a:hover {
  color: #7B0101;
}

.header-area.header-sticky .nav li.submenu {
  position: relative;
}

.header-area.header-sticky .nav li.submenu:after {
  color: #3B566E;
}

.header-area.header-sticky .header-buttons {
  float: right;
}

.header-area.header-sticky .header-buttons li {
  float: left;
}

.header-area.header-sticky .header-buttons li .btn-nav-line {
  border: 1px solid #7B0101;
  color: #7B0101;
  margin-top: 24px;
}

.header-area.header-sticky .header-buttons li .btn-nav-line:hover {
  background-image: linear-gradient(135deg, #7B0101 0%, #5C83E3 100%);
  color: #fff;
}

.header-area.header-sticky .header-buttons li .btn-nav-primary {
  background-image: linear-gradient(135deg, #7B0101 0%, #5C83E3 100%);
  color: #fff;
  margin-top: 24px;
  border: 1px solid #7B0101;
  box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
}

.header-area.header-sticky .header-buttons li .btn-nav-primary:hover {
  border: 1px solid #7B0101;
  background: #fff;
  color: #7B0101;
}

.header-area.header-white {
  background: #fff;
  height: 80px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
}

.header-area.header-white .logo {
  margin-top: 26px;
}

.header-area.header-white .nav {
  margin-top: 21px !important;
}

.header-area.header-white .nav li a {
  color: #3B566E;
}

.header-area.header-white .nav li a:hover {
  color: #7B0101;
}

.header-area.header-white .nav li.submenu {
  position: relative;
}

.header-area.header-white .nav li.submenu:after {
  color: #3B566E;
}

.header-area.header-white .header-buttons {
  float: right;
}

.header-area.header-white .header-buttons li {
  float: left;
}

.header-area.header-white .header-buttons li .btn-nav-line {
  border: 1px solid #7B0101;
  color: #7B0101;
  margin-top: 24px;
}

.header-area.header-white .header-buttons li .btn-nav-line:hover {
  background-image: linear-gradient(135deg, #7B0101 0%, #5C83E3 100%);
  color: #fff;
}

.header-area.header-white .header-buttons li .btn-nav-primary {
  background-image: linear-gradient(135deg, #7B0101 0%, #5C83E3 100%);
  color: #fff;
  margin-top: 24px;
  border: 1px solid #7B0101;
  box-shadow: 0 4px 5px 0 rgba(103, 67, 213, 0.24);
}

.header-area.header-white .header-buttons li .btn-nav-primary:hover {
  border: 1px solid #7B0101;
  background: #fff;
  color: #7B0101;
}

@media (max-width: 1200px) {
  .header-area .main-nav .nav li {
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-area .main-nav .nav li.submenu {
    padding-right: 20px;
  }
  .header-area .main-nav .nav li.submenu:after {
    right: 5px;
  }
}

@media (max-width: 991px) {
  .header-area {
    background: #fff;
    height: 80px;
    box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  }
  .header-area .container {
    padding: 0px;

    /*background-color: #fff;*/
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  }
  .header-area .logo {
    /*margin-top: 22px !important;*/
    margin-top: 0px !important;
    margin-left: 30px; 
  }
  .header-area .light-logo {
    display: none !important;
  }
  .header-area .dark-logo {
    display: block !important;
  }
  .header-area .menu-trigger {
    display: block !important;
  }
  .header-area .main-nav {
    overflow: hidden;
  }
  .header-area .main-nav .nav {
    float: none;
    width: 100%;
    margin-top: 80px !important;
    display: none;
    -webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
    margin-left: 0px;
  }
  .header-area .main-nav .nav li {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #f5f5f5;
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .header-area .main-nav .nav li a {
    height: 50px !important;
    line-height: 50px !important;
    padding: 0px !important;
    padding-left: 30px !important;
    border: none !important;
    background: #fff !important;
    color: #3B566E !important;
  }
  .header-area .main-nav .nav li a:hover {
    background: #f5f5f5 !important;
  }
  .header-area .main-nav .nav li.submenu ul {
    position: relative;
    visibility: inherit;
    opacity: 1;
    z-index: 1;
    transform: translateY(0%);
    transition-delay: 0s, 0s, 0.3s;
    top: 0px;
    width: 100%;
    box-shadow: none;
    height: 0px;
  }
  .header-area .main-nav .nav li.submenu ul li a {
    padding-left: 50px !important;
  }
  .header-area .main-nav .nav li.submenu ul li a:hover:before {
    width: 0px;
  }
  .header-area .main-nav .nav li.submenu ul.active {
    height: auto !important;
  }
  .header-area .main-nav .nav li.submenu:after {
    color: #3B566E;
    right: 25px;
    font-size: 14px;
    top: 15px;
  }
  .header-area .main-nav .nav li.submenu:hover ul, .header-area .main-nav .nav li.submenu:focus ul {
    height: 0px;
  }
  .header-area .main-nav .header-buttons {
    display: none;
  }
}

@media (min-width: 992px) {
  .header-area .main-nav .nav {
    display: flex !important;
  }
}

/* 
---------------------------------------------
welcome
--------------------------------------------- 
*/
.welcome-area {
  overflow: hidden;
  position: relative;
  padding-top: 150px;
  padding-bottom: 100px;
  background: #fff url(../images/header-bg.svg) top left no-repeat;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.welcome-area:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: none;
  z-index: 3;
}

.welcome-area .header-text h1 {
  font-weight: 400;
  font-size: 28px;
  color: #1E3056;
  line-height: 46px;
  letter-spacing: 0.93px;
  margin-bottom: 20px;
}

.welcome-area .header-text h1 span {
  color: #7B0101;
}

.welcome-area .header-text p {
  font-weight: 400;
  font-size: 16px;
  color: #697BA2;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 40px;
  position: relative;
}

.welcome-area .header-text .btn-primary-line {
  width: 170px;
  margin-bottom: 0px;
}

.welcome-area .home-img-group {
  position: relative;
  height: 543px;
}

.welcome-area .home-img-group .home-img {
  width: 100%;
  height: 200px;
  margin-bottom: 2%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.welcome-area .home-img-group .home-img.img-1 {
  width: 49%;
  height: 332px;
  float: left;
  position: absolute;
  top: 0px;
  left: 0px;
}

.welcome-area .home-img-group .home-img.img-2 {
  width: 49%;
  height: 251px;
  float: right;
  position: absolute;
  top: 0px;
  right: 0px;
}

.welcome-area .home-img-group .home-img.img-3 {
  width: 49%;
  float: left;
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin-bottom: 0px;
}

.welcome-area .home-img-group .home-img.img-3 .play-button-wrapper {
  position: absolute;
  width: 100%;
  top: 48%;
  left: 0px;
  transform: perspective(1px) translateY(-45%);
  z-index: 4;
  right: 0px;
}

.welcome-area .home-img-group .home-img.img-3 .play-button-wrapper .btn-play {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 22px;
  color: #fff;
  margin: auto;
  left: 0px;
  right: 0px;
  display: block;
  border: 1px solid #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  z-index: 3;
}

.welcome-area .home-img-group .home-img.img-3 .play-button-wrapper .btn-play:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background: #fff;
  opacity: .25;
  z-index: 1;
}

.welcome-area .home-img-group .home-img.img-3 .play-button-wrapper .btn-play i {
  padding-left: 5px;
  position: relative;
  z-index: 2;
}

.welcome-area .home-img-group .home-img.img-4 {
  width: 49%;
  height: 281px;
  float: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.welcome-area .home-img-group .home-img.img-4:after {
  content: '';
  position: absolute;
  /*background: #7B0101;*/
  background: linear-gradient(-135deg, #EC1C24, #7B0101); 
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  opacity: .80;
}

.welcome-area .home-img-group .home-img.img-4 .content {
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome-area .home-img-group .home-img.img-4 .content .text {
  position: relative;
  z-index: 3;
  padding-left: 15px;
  padding-right: 15px;
}

.welcome-area .home-img-group .home-img.img-4 .content .text strong {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.88px;
  margin-bottom: 10px;
}

.welcome-area .home-img-group .home-img.img-4 .content .text p {
  display: block;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1.12px;
  line-height: 28px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

@media (max-width: 991px) {
  .welcome-area .header-text {
    text-align: center;
  }
  .welcome-area .header-text h1 {
    text-align: center;
  }
  .welcome-area .header-text p {
    text-align: center;
  }
  .welcome-area .header-text .btn-primary-line {
    margin: auto;
    margin-bottom: 50px;
  }
}

/* 
---------------------------------------------
features
--------------------------------------------- 
*/
.features-small-item {
  display: block;
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

.features-small-item:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #7B0101;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 0;
}

.features-small-item.active:before, .features-small-item:hover:before {
  opacity: 1;
}

.features-small-item.active .features-title, .features-small-item:hover .features-title {
  color: #ffffff;
}

.features-small-item.active p, .features-small-item:hover p {
  color: #E5E9F7;
}

.features-small-item.active a span, .features-small-item.active a i, .features-small-item:hover a span, .features-small-item:hover a i {
  color: #fff;
}

.features-small-item .icon {
  width: 67px;
  height: 67px;
  line-height: 70px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  background: #F7FAFD;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.features-small-item .icon i {
  font-size: 18px;
  color: #7B0101;
}

.features-small-item .features-title {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 0.7px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.features-small-item p {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 26px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 0px;
}

.features-small-item a {
  float: right;
  position: relative;
  z-index: 2;
}

.features-small-item a span {
  font-weight: 700;
  font-size: 12px;
  color: #7B0101;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  float: left;
  margin-right: 10px;
}

.features-small-item a i {
  color: #7B0101;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  float: left;
}

.services {
  padding: 30px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services:hover .icon:before {
  transform: rotate(45deg);
}

.services .icon {
  float: left;
  width: 166px;
  position: relative;
  text-align: center;
  min-height: 166px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.services .icon:before {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  width: 133px;
  height: 133px;
  background: #F7FAFD;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.services .icon img {
  position: relative;
  z-index: 2;
  text-align: center;
}

.services .text {
  float: left;
  width: calc(100% - 166px);
  padding-left: 30px;
}

.services .text .services-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #3B566E;
  margin-bottom: 15px;
  letter-spacing: 0.80px;
}

.services .text p {
  margin-bottom: 0px !important;
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  line-height: 26px !important;
  letter-spacing: .88px !important;
}

@media (max-width: 1200px) {
  .features-home {
    padding-top: 0px;
    margin-top: -10px;
  }
}

@media (max-width: 991px) {
  .features-home {
    padding-top: 100px;
    margin-top: 0px;
  }
  .services {
    display: block;
    text-align: center;
  }
  .services .icon {
    width: 100% !important;
    margin-bottom: 30px;
  }
  .services .icon:before {
    left: 0px;
    right: 0px;
    margin: auto;
  }
  .services .text {
    width: 100% !important;
    padding: 0px;
  }
}

/* 
---------------------------------------------
parallax
--------------------------------------------- 
*/
.parallax {
  min-height: 215px;
  overflow: hidden;
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}

.parallax:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: .80;
  /*background: #7B0101;*/
  /*background:linear-gradient(-135deg, #EC1C24 0%, #7B0101 100%); */
  background-image: linear-gradient(-135deg, #EC1C24 0%, #7B0101 100%);
  z-index: 2;
  top: -20%;
  left: -20%;
}

.parallax .parallax-content {
  position: relative;
  z-index: 3;
}

.parallax .parallax-content .info {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.parallax .parallax-content .info p {
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.parallax .parallax-content .info p span {
  text-decoration: underline;
}

.parallax .parallax-content .info .btn-white-line {
  margin: auto;
}

.parallax .parallax-content .info .btn-white-line:hover {
  color: #fff;
  border: 1px solid #EC1C24;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.48);
}

.parallax-counter {
  min-height: 315px;
  overflow: hidden;
  position: relative;
}

.parallax-counter:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  opacity: .80;
  background: #7B0101;
  z-index: 2;
  top: -20%;
  left: -20%;
}

.parallax-counter .parallax-content {
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  width: 100%;
}

.parallax-counter .parallax-content .count-item {
  height: 280px;
  position: relative;
  overflow: hidden;
}

.parallax-counter .parallax-content .count-item:hover strong {
  margin-top: 60px;
}

.parallax-counter .parallax-content .count-item strong {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 1.72px;
  margin-bottom: 15px;
  color: #fff;
  margin-top: 70px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.parallax-counter .parallax-content .count-item strong:before {
  content: '';
  position: absolute;
  left: 0px;
  right: 0px;
  top: 65px;
  margin: auto;
  width: 115px;
  height: 1px;
  border-top: 1px dashed #fff;
}

.parallax-counter .parallax-content .count-item span {
  display: block;
  text-align: center;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.86px;
}

@media (max-width: 991px) {
  .parallax {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: auto;
  }
  .parallax .parallax-content {
    position: relative !important;
    top: 0% !important;
    transform: perspective(1px) translateY(0%) !important;
  }
  .parallax-counter {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .parallax-counter .parallax-content {
    position: relative !important;
    top: 0% !important;
    transform: perspective(1px) translateY(0%) !important;
  }
  .parallax-counter .parallax-content .count-item {
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .parallax-counter .parallax-content .count-item:hover strong {
    margin-top: 0px;
  }
  .parallax-counter .parallax-content .count-item:before {
    display: none;
  }
  .parallax-counter .parallax-content .count-item:after {
    width: 40px;
    height: 1px;
  }
  .parallax-counter .parallax-content .count-item strong {
    margin-top: 0px;
  }
}

/* 
---------------------------------------------
team
--------------------------------------------- 
*/
.team-item {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  margin-bottom: 55px;
}

.team-item:hover .user-image {
  bottom: -55px;
}

.team-item:hover .team-content .team-info:before {
  height: 125px;
}

.team-item:hover .team-content .social li a {
  color: #fff;
}

.team-item .user-image {
  width: 96px;
  height: 96px;
  border: 6px solid #fff;
  overflow: hidden;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  position: absolute;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: -45px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
}

.team-item .team-content {
  text-align: center;
  overflow: hidden;
}

.team-item .team-content .team-info {
  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.team-item .team-content .team-info:before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  /*background-image: linear-gradient(135deg, #7B0101 0%, #5C83E3 100%);*/
  background-image: linear-gradient(-135deg, #EC1C24 0%, #7B0101 100%);
  height: 68px;
  z-index: 1;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.team-item .team-content .team-info .user-name {
  display: block;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.69px;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}

.team-item .team-content .team-info span {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #E5E9F7;
  letter-spacing: 0.6px;
  position: relative;
  z-index: 2;
}

.team-item .team-content .social {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.team-item .team-content .social li {
  display: inline-block;
  margin-left: 7px;
  margin-right: 7px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.team-item .team-content .social li a {
  color: #7B0101;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.team-item .team-content p {
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 60px;
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

/* 
---------------------------------------------
pricing
--------------------------------------------- 
*/
.pricing-item {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.pricing-item.active .pricing-header {
  position: relative;
  overflow: hidden;
}

.pricing-item.active .pricing-header:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  right: 0px;
  margin: auto;
  background-image: linear-gradient(135deg, #EC1C24 0%, #7B0101 100%);

}

.pricing-item.active .pricing-header .pricing-title {
  color: #fff;
}

.pricing-item.active .pricing-header .number {
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.13);
}

.pricing-item.active .pricing-header .number:before {
  border-bottom: 14px solid #fff;
}

.pricing-item.active .pricing-header .number:after {
  border-top: 14px solid #fff;
}

.pricing-item .pricing-header {
  border-bottom: 1px solid #F7FAFD;
  text-align: center;
  height: 130px;
  display: block;
  position: relative;
}

.pricing-item .pricing-header .pricing-title {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 1px;
  color: #3B566E;
  position: absolute;
  width: 100%;
  top: 46%;
  transform: perspective(1px) translateY(0%);
}

.pricing-item .pricing-body {
  margin-bottom: 40px;
}

.pricing-item .pricing-body .number {
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #F7FAFD;
  position: relative;
  margin: auto;
  margin-top: -20px;
  text-align: center;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

.pricing-item .pricing-body .number span {
  font-weight: 400;
  font-size: 16px;
  color: #7B0101;
  display: block;
}

.pricing-item .pricing-body .price-wrapper {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.pricing-item .pricing-body .price-wrapper .currency {
  height: 47px;
  font-weight: 600;
  font-size: 20px;
  color: #7B0101;
  position: relative;
  top: -15px;
}

.pricing-item .pricing-body .price-wrapper .price {
  font-weight: 700;
  font-size: 34px;
  color: #7B0101;
  letter-spacing: 2.12px;
}

.pricing-item .pricing-body .price-wrapper .period {
  font-weight: 700;
  font-size: 14px;
  color: #7B0101;
  letter-spacing: 0.88px;
}

.pricing-item .pricing-body .list li {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 400;
  font-size: 14px;
  color: #CCDCEA;
  letter-spacing: 0.88px;
  text-decoration: line-through;
}

.pricing-item .pricing-body .list li.active {
  color: #3B566E;
  text-decoration: none;
}

.pricing-item .pricing-footer {
  text-align: center;
}

.pricing-item .pricing-footer a {
  width: 160px;
  margin: auto;
  display: inline-block;
  height: 44px;
  line-height: 44px;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /*background: #7B0101;*/
  background: linear-gradient(-135deg, #EC1C24, #7B0101);
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  -webkit-transition: background 1s ease-out;
  -moz-transition: background 1s ease-out;
  -o-transition: background 1s ease-out;
  transition: background 1s ease-out;
  outline: none !important;
  cursor: pointer;
  position: relative;
}
.pricing-item .pricing-footer a:hover {
    background: #7B0101;
    color: #fff;
}

/* 
---------------------------------------------
blog
--------------------------------------------- 
*/
.blog-post-thumb {
  text-align: center;
  margin-bottom: 30px;
}

.blog-post-thumb.big .img {
  height: 400px;
}

.blog-post-thumb .img {
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 25px;
  position: relative;
  height: 200px;
}

.blog-post-thumb .img .date {
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  width: 100px;
  height: 30px;
  margin: auto;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.blog-post-thumb .img .date:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1;
  background: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  opacity: .3;
}

.blog-post-thumb .img .date strong {
  display: inline-block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  position: relative;
  z-index: 2;
  font-size: 14px;
}

.blog-post-thumb .img .date span {
  display: inline-block;
  color: #fff;
  height: 30px;
  line-height: 30px;
  position: relative;
  z-index: 2;
  font-size: 14px;
}

.blog-post-thumb h3 {
  margin-bottom: 10px !important;
}

.blog-post-thumb h3 a {
  font-weight: 400;
  font-size: 16px;
  color: #3B566E;
  letter-spacing: 1px;
  line-height: 26px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.blog-post-thumb h3 a:hover {
  color: #7B0101;
}

.blog-post-thumb .post-meta {
  overflow: hidden;
  text-align: center;
}

.blog-post-thumb .post-meta li {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  height: 30px;
  line-height: 30px;
  color: #7B0101;
  font-size: 14px;
}

.blog-post-thumb .post-meta li a {
  color: #7B0101;
}

.blog-post-thumb .post-meta li span {
  display: inline-block;
  margin-right: 5px;
}

.blog-post-thumb .text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.88px;
  line-height: 26px;
  margin-bottom: 15px;
}

.blog-post-thumb .text.post-detail {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-align: left;
}

.blog-post-thumb .post-footer {
  overflow: hidden;
  border-bottom: 1px solid #ECF7FF;
  border-top: 1px solid #ECF7FF;
  padding-top: 10px;
  padding-bottom: 10px;
}

.blog-post-thumb .post-footer span {
  float: left;
  height: 30px;
  line-height: 30px;
  font-weight: 300;
  font-size: 14px;
  color: #6F8BA4;
  padding-left: 30px;
}

.blog-post-thumb .post-footer ul.share {
  float: right;
  padding-right: 30px;
}

.blog-post-thumb .post-footer ul.share li {
  float: left;
  margin-left: 15px;
}

.blog-post-thumb .post-footer ul.share li a {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #7B0101;
}

.blog-post-thumb .btn-primary-line {
  margin: auto;
}

.blog-list .blog-post-thumb {
  margin-bottom: 30px;
  text-align: center;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.blog-list .blog-post-thumb .img {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-border-top-left-radius: 5px !important;
  -webkit-border-top-right-radius: 5px !important;
  -moz-border-radius-topleft: 5px !important;
  -moz-border-radius-topright: 5px !important;
  border-top-left-radius: 5px !important;
  border-top-right-radius: 5px !important;
}

.blog-list .blog-post-thumb h3 {
  padding-left: 30px;
  padding-right: 30px;
}

.blog-list .blog-post-thumb .post-meta {
  padding-left: 30px;
  padding-right: 30px;
}

.blog-list .blog-post-thumb .text {
  padding-left: 30px;
  padding-right: 30px;
}

.blog-list .blog-post-thumb .btn-primary-line {
  margin: auto;
  margin-bottom: 30px;
}

.section-comments {
  margin-bottom: 30px;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 0px;
}

.section-comments ul {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

.section-comments ul li {
  overflow: hidden;
}

.section-comments ul li .avatar {
  width: 70px;
  height: 70px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  margin-right: 20px;
}

.section-comments ul li .comment-content {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  float: left;
  width: calc(100% - 90px);
  width: -webkit-calc(100% - 90px);
}

.section-comments ul li .comment-content .comment-by {
  margin-bottom: 10px;
  position: relative;
}

.section-comments ul li .comment-content .comment-by strong {
  display: block;
  color: #3B566E;
}

.section-comments ul li .comment-content .comment-by span {
  font-size: 12px;
}

.section-comments ul li .comment-content .comment-by .btn-reply {
  position: absolute;
  right: 0px;
  top: 15px;
  background: #F4F8FB;
  color: #6F8BA4;
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.section-comments ul li .comment-content .comment-by .btn-reply i {
  font-size: 12px;
}

.section-comments ul li .comment-content .comment-by .btn-reply:hover {
  background: #7B0101;
  color: #fff;
}

.section-comments ul li ul {
  padding-left: 30px;
}

.post-comment {
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 0px;
  margin-bottom: 30px;
  background: #fff;
}

.post-comment .comment-form .form-item {
  margin-bottom: 20px;
}

.post-comment .comment-form .form-item label {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 0px;
}

.post-comment .comment-form .form-item input, .post-comment .comment-form .form-item textarea {
  border: 1px solid #eee;
  width: 100%;
  height: 40px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.post-comment .comment-form .form-item input:focus, .post-comment .comment-form .form-item textarea:focus {
  border: 1px solid #7B0101;
}

.post-comment .comment-form .form-item textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.pagination {
  margin-bottom: 30px;
  margin-top: 30px;
}

.pagination .page-item a {
  font-size: 14px;
  color: #7B0101;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.pagination .page-item a:hover {
  background: #F4F8FB;
}

@media (max-width: 991px) {
  .blog-post-thumb.big .img {
    height: 350px;
  }
}

@media (max-width: 420px) {
  .blog-post-thumb.big .img {
    height: 200px;
  }
}

/* 
---------------------------------------------
footer
--------------------------------------------- 
*/
footer {
  /*background: #7B0101;*/
  background: #000000;
  padding-top: 70px;
}

footer img.logo {
  margin-bottom: 30px;

  height: 110px;
}

footer .text {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
  letter-spacing: 0.88px;
}

footer h5 {
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0.69px;
  line-height: 30px;
  margin-bottom: 30px !important;
}

footer .footer-nav li a {
  display: block;
  overflow: hidden;
}

footer .footer-nav li a:hover span {
  padding-left: 5px;
}

footer .footer-nav li a i {
  float: left;
  height: 32px;
  line-height: 32px;
  margin-right: 12px;
  font-size: 14px;
  color: #fff;
}

footer .footer-nav li a span {
  float: left;
  height: 32px;
  line-height: 32px;
  font-weight: 400;
  font-size: 14px;
  color: #E5E9F7;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

footer .address p {
  display: block;
  overflow: hidden;
  font-weight: 400;
  font-size: 14px;
  color: #E5E9F7;
  line-height: 26px;
  letter-spacing: 0.88px;
  margin-bottom: 5px;
}

footer .address p a {
  color: #E5E9F7;
}

footer .address .social {
  overflow: hidden;
  margin-top: 5px;
}

footer .address .social li {
  float: left;
  font-size: 16px;
  margin-right: 10px;
}

footer .address .social li a {
  color: #E5E9F7;
}

footer .copyright {
  text-align: center;
  border-top: 1px solid #EC1C24;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  color: #E5E9F7;
  letter-spacing: 0.88px;
}

@media (max-width: 991px) {
  footer .text {
    margin-bottom: 30px;
  }
  footer h5 {
    margin-bottom: 15px;
  }
  footer .footer-nav {
    margin-bottom: 30px;
  }
}

/* 
---------------------------------------------
pages
--------------------------------------------- 
*/
.page {
  background: #F7FAFD;
}

.page .cover {
  /*margin-top: 80px;*/
  min-height: 270px;
  position: relative;
  overflow: hidden;

  background-image: url(../images/photos/about/parallax-cover.jpg)!important; 
  background-position: center;
  background-size: 100%; 
  background-repeat: no-repeat;

}

.page .cover:before {
  content: '';
  position: absolute;
  width: 140%;
  height: 140%;
  left: -20%;
  top: -20%;
  right: -20%;
  bottom: -20%;
  background-image: linear-gradient(-135deg, #EC1C24 0%, #7B0101 100%);
  z-index: 2;
  opacity: 0.2;
}

.page .cover .page-top {
  position: absolute;
  width: 100%;
  bottom: 50px;
  z-index: 3;
}

.page .cover .page-top h1 {
  font-weight: 400;
  font-size: 36px;
  height: 50px;
  line-height: 46px;
  letter-spacing: 1.4px;
  color: #fff;
  text-align: center;
}

.page .cover .page-top h1:before {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  width: 19px;
  height: 2px;
  background: #fff;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

.page .cover .page-top .breadcrumb {
  float: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  background: none;
  padding: 0px;
  margin-top: 8px;
  margin-bottom: 0px;
  display: block;
  text-align: center;
}

.page .cover .page-top .breadcrumb li {
  font-weight: 400;
  font-size: 14px;
  color: #E5E9F7;
  line-height: 30px;
  margin-left: 10px;
  display: inline-block;
}

.page .cover .page-top .breadcrumb li:after {
  font-family: FontAwesome;
  content: "\f105";
  margin-left: 10px;
  color: #E5E9F7;
}

.page .cover .page-top .breadcrumb li:first-child {
  margin-left: 0px;
}

.page .cover .page-top .breadcrumb li:last-child:after {
  content: '';
  margin-left: 0px;
}

.page .cover .page-top .breadcrumb li a {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.page .page-bottom {
  padding-top: 100px;
  padding-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.88px;
  line-height: 28px;
  color: #6F8BA4;
}

.page .page-bottom1 {
  padding-top: 30px;
  padding-bottom: 70px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.88px;
  line-height: 28px;
  color: #6F8BA4;
}

.page .page-bottom p {
  margin-bottom: 28px;
}

.page .page-bottom .about {
  position: relative;
  float: left;
  width: 100%;
  margin-bottom: 100px;
}

.page .page-bottom .about.left .about-image {
  float: right;
}

.page .page-bottom .about.left .about-text {
  left: 0px;
}

.page .page-bottom .about .about-image {
  position: relative;
  width: 70%;
  float: left;
  height: 500px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.page .page-bottom .about .about-text {
  position: absolute;
  z-index: 2;
  width: 40%;
  float: right;
  right: 0px;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 10px;
}

.page .page-bottom .about .about-text h2 {
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 1.75px;
  color: #3B566E;
  margin-bottom: 20px;
}

.page .page-bottom .about .about-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 20px;
}

.page .page-bottom .features-small-item p {
  margin-bottom: 0px !important;
}

.page .page-bottom .page-detail .about {
  margin-bottom: 30px !important;
}

.page .page-bottom .page-detail .about .about-image {
  border-radius: 30px 5px 30px 30px;
}

.page .page-bottom .page-detail .about .about-image:before {
  display: none;
}

.page .page-bottom .page-detail .about .about-text {
  border-radius: 30px 5px 30px 30px;
}

@media (max-width: 991px) {
  .page .cover {
    /*margin-top: 80px;*/
  }
  .page .cover h1 {
    font-size: 26px !important;
    line-height: 36px !important;
    height: auto !important;
    padding-bottom: 15px;
  }
  .page .cover .page-top {
    text-align: center;
  }
  .page .cover .page-top .breadcrumb {
    float: none;
    text-align: center;
    display: block;
  }
  .page .cover .page-top .breadcrumb li {
    display: inline;
  }
  .page .page-bottom .about {
    overflow: initial !important;
  }
  .page .page-bottom .about .about-image {
    width: 100% !important;
    height: 300px;
    margin-bottom: 30px;
  }
  .page .page-bottom .about .about-text {
    position: relative !important;
    width: 100% !important;
    top: 0% !important;
    transform: perspective(1px) translateY(0%) !important;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  }
}

/* 
---------------------------------------------
faq
--------------------------------------------- 
*/
.faq-wrapper .faq-header {
  margin-bottom: 0px;
}

.faq-wrapper .faq-header h2 {
  font-weight: 400;
  font-size: 30px;
  color: #7B0101;
  letter-spacing: 1.88px;
  margin-bottom: 20px;
}

.faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  margin-bottom: 30px;
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px solid #F7FAFD;
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
  background: #F7FAFD;
  padding-left: 10px;
}

.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  border-radius: 100px;
  border-top-right-radius: 0;
  text-align: center;
  background: #7B0101;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: .88px;
  line-height: 28px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }
}

/* 
---------------------------------------------
aside
--------------------------------------------- 
*/
aside.default-aside {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

aside.default-aside .sidebar ul {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 30px;
}

aside.default-aside .sidebar ul li.active a {
  background-image: linear-gradient(135deg, #7B0101 0%, #5C83E3 100%);
  color: #fff;
}

aside.default-aside .sidebar ul li.active a:after {
  color: #fff;
}

aside.default-aside .sidebar ul li.active a:hover {
  padding-left: 60px;
}

aside.default-aside .sidebar ul li:last-child a {
  border: none;
}

aside.default-aside .sidebar ul li a {
  display: block;
  border-bottom: 1px solid #ECF7FF;
  height: 50px;
  line-height: 50px;
  padding-left: 59px;
  position: relative;
  font-weight: 400;
  font-size: 14px;
  color: #3B566E;
  letter-spacing: 0.88px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

aside.default-aside .sidebar ul li a:hover {
  padding-left: 70px;
}

aside.default-aside .sidebar ul li a:after {
  font-family: FontAwesome;
  content: "\f105";
  position: absolute;
  left: 30px;
  color: #3B566E;
}

aside.default-aside .sidebar ul li a span {
  float: right;
  margin-right: 30px;
  display: inline-block;
  background: #7B0101;
  height: 20px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 10px;
  color: #fff;
  margin-top: 18px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}

aside.default-aside .sidebar .box {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  height: 230px;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
}

aside.default-aside .sidebar .box:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(135deg, #7B0101 0%, #5C83E3 100%);
  z-index: 2;
  left: 0px;
  top: 0px;
  opacity: .85;
}

aside.default-aside .sidebar .box .hovered {
  position: absolute;
  z-index: 3;
  padding-left: 30px;
  padding-right: 30px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

aside.default-aside .sidebar .box .hovered p {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1.12px;
  margin-bottom: 30px;
}

aside.default-aside .sidebar .box .hovered a {
  height: 36px;
  line-height: 36px;
  margin-bottom: 0px;
}

aside.default-aside .sidebar .search-widget {
  display: block;
  margin-bottom: 30px;
  height: 50px;
  position: relative;
}

aside.default-aside .sidebar .search-widget input {
  border: 1px solid #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  padding-left: 20px;
  padding-right: 50px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
}

aside.default-aside .sidebar .search-widget input:focus {
  border: 1px solid #7B0101;
  padding-left: 30px;
}

aside.default-aside .sidebar .search-widget button {
  position: absolute;
  z-index: 2;
  right: 7px;
  top: 7px;
  height: 35px;
  width: 35px;
  border: none;
  background-image: linear-gradient(127deg, #7B0101 0%, #5C83E3 91%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 0px;
}

aside.default-aside .sidebar .search-widget button i {
  color: #fff;
}

aside.default-aside .sidebar .widget-tags {
  padding: 30px;
  padding-bottom: 20px;
  overflow: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
}

aside.default-aside .sidebar .widget-tags a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  background: #f5f5f5;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 14px;
  color: #3B566E;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

aside.default-aside .sidebar .widget-tags a:hover {
  background: #7B0101;
  color: #fff;
}

/* 
---------------------------------------------
contact
--------------------------------------------- 
*/
.contact {
  float: left;
  width: 100%;
  position: relative;
}

.contact .map-wrapper {
  position: relative;
  width: 100%;
  height: 500px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  z-index: 1;
}

.contact .map-wrapper .map-canvas {
  width: 100%;
  height: 100%;
}

.contact .contact-info {
  position: relative;
  z-index: 2;
  width: 90%;
  margin-left: 5%;
  margin-top: -90px;
  
  background-image: linear-gradient(135deg, #7B0101 0%, #EC1C24 100%);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 30px;
  padding-bottom: 10px;
}

.contact .contact-info .item {
  overflow: hidden;
  color: #fff;
}

.contact .contact-info .item i {
  float: left;
  font-size: 16px;
  width: 20px;
  margin-right: 10px;
  margin-top: 5px;
}

.contact .contact-info .item span {
  float: left;
  width: calc(100% - 30px);
  width: -webkit-calc(100% - 30px);
  font-size: 14px;
}

.contact .contact-info .item span a {
  color: #fff;
}

.contact .contact-info .social {
  overflow: hidden;
  margin-top: 30px;
  text-align: center;
  margin-bottom: 20px;
}

.contact .contact-info .social li {
  display: inline;
  font-size: 22px;
  margin-right: 7px;
  margin-left: 7px;
}

.contact .contact-info .social li a {
  color: #fff;
}

.contact-bottom {
  border-top: 1px solid #f5f5f5;
  margin-top: 60px;
  padding-top: 60px;
  margin-bottom: 30px;
}

.contact-bottom .contact-text {
  font-weight: 400;
  font-size: 14px;
  color: #6F8BA4;
  letter-spacing: 0.6px;
  line-height: 26px;
}

.contact-bottom .contact-text p {
  margin-bottom: 28px;
}

.contact-bottom .contact-form input, .contact-bottom .contact-form textarea {
  border: 1px solid #eee;
  width: 100%;
  height: 50px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 30px;
}

.contact-bottom .contact-form input:focus, .contact-bottom .contact-form textarea:focus {
  border: 1px solid #7B0101;
  padding-left: 30px;
}

.contact-bottom .contact-form textarea {
  height: 150px;
  resize: none;
  padding: 20px;
}

.contact-bottom .contact-form .btn-primary-line {
  margin-bottom: 0px !important;
}

@media (max-width: 991px) {
  .contact {
    overflow: initial !important;
    margin-bottom: 10px !important;
  }
  .contact .map-wrapper {
    width: 100% !important;
    height: 300px;
    margin-bottom: 30px;
  }
  .contact .contact-info {
    position: relative !important;
    width: 100% !important;
    margin-top: 10px !important;
    margin-left: 0px !important;
    transform: perspective(1px) translateY(0%) !important;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  }
  .contact-bottom {
    margin-top: 30px;
    padding-top: 30px;
  }
}

/* 
---------------------------------------------
preloader
--------------------------------------------- 
*/
#preloader {
  overflow: hidden;
  background-image: linear-gradient(135deg, #7B0101 0%, #5C83E3 100%);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999;
}

#preloader #loader {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

#preloader #loader #box {
  width: 50px;
  height: 50px;
  background: #fff;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

#preloader #loader #shadow {
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}

@keyframes loader {
  0% {
    left: -100px;
  }
  100% {
    left: 110%;
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  50% {
    transform: scale(1.2, 1);
  }
}


/*=========== header css============*/
.header {
  position: relative;
  z-index: 1000;
  height: 100px;
  width: 100%; 
  /*background: rgba(34,34,34,0.25);*/
  background: hsla(0, 0%, 100%, 1);
  padding: 18px;
  -webkit-transition: all ease-out .5s;
  -moz-transition: all ease-out .5s;
  -o-transition: all ease-out .5s;
  transition: all ease-out .5s;
}
.active {
  /*background-color:#fff;*/
}
/*===========================*/
.lable{
  color: #000000;

}
#page-content{
  background-color: #f8f8f8;
  margin-top: 30px; 
  margin-bottom: 30px; 
  color: #000;
}

label{
  color: #000;
   margin: 12px 0px;
}

.pagecontent{
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input[type="radio"]{
  margin-right: 10px;
}

.logostyle{
  width: 220px; 
  height: 68px;
}
/*============ Index Page Start================*/


#preloader{
        visibility: hidden; 
        display: none; 
        opacity: 1;"
      }

.mb{
        margin-bottom: 20px;
        color: #7B0101;
      }
      .ico{
        height: 50%;
      }


        /*style for blog section*/
      .imgfix_wrapper_layer{
        position: relative; 
        padding: 0; 
        margin: 0; 
        width: 100%; 
        height: 100%; 
        overflow: hidden;
      }

      #imgfix_wrapper_layer_0_0 .imgfix_src_img {
      opacity: 1;

      left: -999999px;
      right: -999999px;
      top: -999999px;
      bottom: -999999px;
      z-index: 0;
      width: 351px;
      height: 340px;
      max-width: auto !important;
      min-width: auto !important;
      position: absolute;
      margin: auto;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      }
      #imgfix_wrapper_layer_0_1 .imgfix_src_img {
      opacity: 1;

      left: -999999px;
      right: -999999px;
      top: -999999px;
      bottom: -999999px;
      z-index: 0;
      width: 351px;
      height: 233px;
      max-width: auto !important;
      min-width: auto !important;
      position: absolute;
      margin: auto;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      }
      #imgfix_wrapper_layer_0_2 .imgfix_src_img {
      opacity: 1;

      left: -999999px;
      right: -999999px;
      top: -999999px;
      bottom: -999999px;
      z-index: 0;
      width: 351px;
      height: 234px;
      max-width: auto !important;
      min-width: auto !important;
      position: absolute;
      margin: auto;
      -webkit-transition: all 0.4s;
      transition: all 0.4s;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      }
      .imgfix_top_container{
        overflow: hidden;
      }
      .softdevlopment{
        -webkit-transform: translatey(50px);
        transform: translatey(50px);
        opacity: 1;
      }
/*============ Index Page End =================*/

/*============ About US Page Start ============*/
 /*Style for about us page images */
    
    #imgfix_wrapper_layer_0_01 .imgfix_src_img {
    opacity: 1;

    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 778px;
    height: 518px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#imgfix_wrapper_layer_0_01:hover .imgfix_src_img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

#imgfix_wrapper_layer_0_11 .imgfix_src_img {
  opacity: 1;

    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    z-index: 0;
    width: 778px;
    height: 518px;
    max-width: auto !important;
    min-width: auto !important;
    position: absolute;
    margin: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
#imgfix_wrapper_layer_0_11:hover .imgfix_src_img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
/*End style for About us page images*/

 

/*============ About Us Page End ==============*/

/*============ Contact Us Page Start ==========*/
/*============ Contact Us Paeg End ============*/

/*============ Post An Idea Start =============*/
 .wrapper{
      height:1400px;
      
      }
      /* Style the tab */
      .tab {
      float: left;
      background-color: #fff; 
      width: 25%;
      height: auto;
      margin-right: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      /* Style the buttons inside the tab */
      .tab button {
      display: block;
      background-color: inherit;
      color: #000;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px;
      }
      /* Change background color of buttons on hover */
      .tab button:hover {
      background-color:#EC1C24;
      color: #fff;
      }
      /* Create an active/current "tab button" class */
      .tab button.active {
      background-color:#7B0101;
      color: #fff;
      }
      /* Style the tab content */
      .tabcontent {
      float: left;
      padding: 0px 30px 30px 30px;
      border: 1px solid #ccc;
      width: 72%;
      height: auto;
      background-color: #fff;
      color: #000;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .form-control {
      display: block;
      width: 100%;
      padding: .5rem .75rem;
      font-size: 1rem;
      line-height: 1.25;
      color: #495057;
      background-color: #fff;
      background-image: none;
      background-clip: padding-box;
      border: 2px solid #6d67675c;
      border-radius: .25rem;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      }
      .form-control:hover{
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
      box-shadow: inset 0 0 5px rgba(0,0,0,0.3);
      border-color: #008329;
      }
     
      .form-control:focus {
      color: #495057;
      background-color: #fff;
      border-color: #008329;
      outline: 0;
      }
      label:not(.btn), .control-label {
      margin-bottom: 10px !important;
      color: #222;
      font-weight: 700;
      font-size: 17px;
      text-align: left !important;
      }
      .topheader{
      margin: 0 -30px;
      width: 108%;
      margin-bottom: 20px;
      padding: 30px;
      background-color: #F9F9F9;
      border-bottom: 1px solid #E0E0E0;
      }
      .imgcar{
      width: 70%;
      }
      
      /************Title***************/
      legend {
      background-color: #000;
      color: #fff;
      padding: 3px 6px;
      border:1px solid black;
      }
     
      fieldset{
      display: block;
      margin-inline-start: 2px;
      margin-inline-end: 2px;
      padding-block-start: 0.35em;
      padding-inline-start: 0.75em;
      padding-inline-end: 0.75em;
      padding-block-end: 0.625em;
      min-inline-size: min-content;
      border-width: 2px;
      border-style: groove;
      border-color: threedface;
      border-image: initial;
      }
      /*****Description*****/
     
      .divstyle{
      display: inline-block;
      border: 1px solid #6d67675c;
      text-align: center;
      color: #000;
      padding: 10px;
      
      }
      .divstyle:hover, .divstyle:focus {
      color: #000;
      -webkit-box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4), 0 1px 2px rgba(57,73,76,0.25);
      box-shadow: 0 2px 10px 1px rgba(57,73,76,0.4), 0 1px 2px rgba(57,73,76,0.25);
      }
     
      #gridRadios1,#gridRadios2,#gridRadios3{
      margin-right: 0px;
      }
      .choosefile{
      padding: 10px;
      }
  
/*============ Post An Idea End ===============*/

/*============ Viewprofile Page Start =========*/
     .description{
         display: inline-block;
         /*border: 1px solid red;*/
         /*margin-top: 20px;*/
         }
         .about-description{
         background-color: #f8f8f8;
         padding: 30px;
         }
         .progress-bar-default {
         background-color: #333333;
         }
         .progress-bar-primary{
         background-color: #c39d6d;
         }
         .progress-bar-success{
         background-color: #93bc49;
         }
         .progress-bar-info{
         background-color: #54bedc;
         }
         .project-info{
          padding-top: 20px;
         }
         .symbol{
            margin-right: 20px;
         }
         .viewprofileico{
            margin-right: 20px;
         }
       
/*============ viewprofile page end ===========*/

/*============ Project List1 Page Start =======*/
 
/*============ Project List1 Page End =========*/

/*============ ProfileQuestions Page and questionsforinventer page start =====*/
    .form_main {
    width: 100%;
   
    height: 100%;
    background: #fff;
}

.heading {
    border-bottom: 1px solid #400000;
    position: relative;
    font-weight: 700;
    font-size: 30px;
    color: #7B0101;
    line-height: 65px;
}

.form {
    border-radius: 7px;
    padding: 30px;
    background-color: #fff;
}
.txt[type="text"] {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
   
}
.txt_3[type="text"] {
    margin: 10px 0;
    padding: 10px 0 10px 5px;
    width: 100%;
    border: 1px solid #ccc;
}
.txt2[type="submit"] {
  background-image: linear-gradient(-135deg, #EC1C24 0%, #7B0101 100%);
    border: 1px solid #7B0101;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    line-height: 35px;
    margin: 10px 0;
    padding: 0;
    text-transform: uppercase;
    width: 13%;

}
.txt2:hover {
    
    background: #7B0101;
    color: #fff;
    border-radius: 25px;
    
}
.text_area{
  height: 40px;
}
/*============ ProfileQuestions Page and questionsforinventer page End =====*/

