<!DOCTYPE html>
<html>
  <head>
    <title>Ko Pilot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=========================================================-->    
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--=========================================================-->
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--=========================================================-->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--=========================================================-->
    <link rel="stylesheet" type="text/css" href="css/theme.css">
    <!-- <link rel="stylesheet" type="text/css" href="css/main.css"> -->
    <!--==========================================================-->
   
    
    <!--upload file-->
    <script type="text/javascript">
      $formproc->AddFileUploadField('photo','jpg,jpeg,gif,png,bmp',2024);
      
      $formproc->AddFileUploadField('resume','doc,docx,pdf,txt',2024);
      
      $formproc->AddFileUploadField('newupload','',2024);//<<------- New 
    </script>
    <!-- ======================================================= -->
  </head>
  <!-- <body data-gr-c-s-loaded="true"> -->
  <body>
    <!-- ***** Header Area Start ***** -->
    <div class="header">
      <header class="header-area">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="main-nav">
                <!-- ***** Logo Start ***** -->
                <a href="index.html" class="logo">
                  <!-- <img src="assets/images/logo-blue.png" alt="Jirono"> -->
                  <img src="images/logo/logo.png" alt="KoPilot" class="logostyle">
                </a>
                <!-- ***** Logo End ***** -->
                <!-- ***** Menu Start ***** -->
                <ul class="nav">
                  <li><a href="index.html#welcome">Home</a></li>
                  <li><a href="aboutus.html">About Us</a></li>
                  <li><a href="contactus.html">Contact Us</a></li>
                  <li><a href="postanidea.html">Post an Idea</a></li>
                </ul>
                <a class="menu-trigger">
                <span>Menu</span>
                </a>
                <!-- ***** Menu End ***** -->
                <!-- ***** Header Buttons Start ***** -->
                <ul class="header-buttons">
                  <li><a class="btn-nav-line" href="login.html">SIGN IN</a></li>
                  <li><a class="btn-nav-primary" href="signup.html">SIGN UP</a></li>
                </ul>
                <!-- ***** Header Buttons End ***** -->
              </nav>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!-- ***** Header Area End ***** -->
    <!-- ============================================================ -->
    <section class="page">
      <!-- ***** Page Top Start ***** -->
      <div class="cover" data-image="images/3.jpg">
        <div class="page-top">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1>Post an Idea</h1>
              </div>
              <div class="col-lg-12">
                <ol class="breadcrumb">
                  <li><a href="blue-index.html">Home</a></li>
                  <li class="active">Post An Idea</li>
                </ol>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ***** Page Top End ***** -->
      <div class="page-bottom1">
      <div class="container">
        <!-- ======================================================= -->
        <div class="wrapper">
          <!-- <h2>Vertical Tabs</h2>
            <p>Click on the buttons inside the tabbed menu:</p> -->
          <div class="tab">
            <button class="tablinks" onclick="openCity(event, 'title')" id="defaultOpen">Title</button>
            <button class="tablinks" onclick="openCity(event, 'description')">Description</button>
            <button class="tablinks" onclick="openCity(event, 'experties')">Experties</button>
            <button class="tablinks" onclick="openCity(event, 'visibility')">Visibility</button>
            <button class="tablinks" onclick="openCity(event, 'budget')">Budget</button>
          </div>
          <!-- Tab Title Start -->
          <div id="title" class="tabcontent">
            <div class="topheader" >
              <!--Section header-->
              <div>
                <h2 class="m-0-bottom" data-ng-bind-html="vm.title">Get Started</h2>
                <!----><span data-ng-if="vm.showProgress &amp;&amp; vm.atStep > 0"> Step 1 of 5 </span><!----> 
              </div>
            </div>
            <!--Section header End-->
            <div class="row">
              <div class="col-lg-12">
                <label for="sel1">How big is your idea?</label></br>
                <div class="row">
                  <div class="col-lg-4">
                    <input class="form-group-input" type="radio" name="gridRadios" id="gridRadios1" value="option1" checked>
                    <img class="imgcar" src="images/post_an_idea/nano.jpeg">
                  </div>
                  <div class="col-lg-4">
                    <input class="form-group-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                    <img class="imgcar" src="images/post_an_idea/alto.jpeg">
                  </div>
                  <div class="col-lg-4">
                    <input class="form-group-input" type="radio" name="gridRadios" id="gridRadios3" value="option3">
                    <img class="imgcar" src="images/post_an_idea/toyota-fortuner.jpg">
                  </div>
                </div>
              </div>
            </div>
            </br>
            <div class="form-group shadow-textarea">
              <label class="" for="exampleFormControlTextarea6">More information about idea?</label>
              <textarea class="form-control z-depth-1" id="6" rows="3" placeholder="Write something here..."></textarea>
            </div>
            </br>
            <div>
              <div class="col-lg-12">
                <div class="row">
                  <div class="col-lg-3">
                    <label>Upload Drawing:</label>
                  </div>
                  <div class="col-lg-9 choosefile">
                    <i class="fa fa-file" aria-hidden="true" style="color: #7b0101;"></i>
                    <input type="file" name='newupload' id='newupload' />
                    <span id='contactus_newupload_errorloc' class='error'>
                    </span>
                  </div>
                </div>
              </div>
              </br>
              <form>
                <fieldset>
                  <legend>Category:</legend>
                  <label>I am looking for:</label>
                  <div class="col-lg-12">
                    <div class="row">
                      <div class="form-group col-lg-6">
                        <label for="sel1">Domain</label>
                        <select class="form-control" id="sel1">
                          <option>-- Select your option --</option>
                          <option>Option1</option>
                          <option>Option2</option>
                          <option>Option3</option>
                        </select>
                      </div>
                      <div class="form-group col-lg-6">
                        <label for="sel1">Specialization</label>
                        <select class="form-control" id="sel2">
                          <option>-- Select your option --</option>
                          <option>Option1</option>
                          <option>Option2</option>
                          <option>Option3</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
              </br></br>
            </div>
            <center>
              <button class="btn-primary-line tablinks" onclick="openCity(event, 'description')">Next</button>
            </center>
          </div>
          <!-- Tab Title End -->
          <!-- Tab Description Start -->
          <div id="description" class="tabcontent">
            <div class="topheader" >
              <!--Section header-->
              <div>
                <h2 class="m-0-bottom" data-ng-bind-html="vm.title">Desription</h2>
                <!----><span data-ng-if="vm.showProgress &amp;&amp; vm.atStep > 0"> Step 2 of 5 </span><!----> 
              </div>
            </div>
            <!--Section header End-->
            <h3>A good description includes:</h3>
            </br>
            <ul class="list-styled">
              <li>1. What the deliverable is</li>
              <li>2. Type of freelancer or agency you're looking for</li>
              <li>3. Anything unique about the project or team</li>
            </ul>
            </br>
            <textarea class="form-control z-depth-1" id="" rows="4" placeholder="Write something here..."></textarea>
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-12">
                <label> Do you want a 3D printed prototype?(Or only a CAD model)</label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 choosefile">
                <input class="form-group-input" type="radio" name="gridRadios11" id="gridRadios11" value="opt1" checked> Yes
                <input class="form-group-input" type="radio" name="gridRadios11" id="gridRadios12" value="opt2"> No
              </div>
            </div>
            <div class="row">
              <div class="col-lg-9 col-md-9 col-sm-12">
                <label> Do you think you'll need patent protection?</label>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-12 choosefile">
                <input class="form-group-input" type="radio" name="gridRadios13" id="gridRadios13" value="opt3" > Yes
                <input class="form-group-input" type="radio" name="gridRadios13" id="gridRadios14" value="opt4" > No
              </div>
            </div>
            <center>
              <button class="btn-primary-line tablinks" onclick="openCity(event, 'experties')">Next</button>
            </center>
          </div>
          <!--Description End-->
          <!-- Experties Start-->
          <div id="experties" class="tabcontent">
            <div class="topheader" >
              <div>
                <h2>Experties</h2>
                <!----><span data-ng-if="vm.showProgress &amp;&amp; vm.atStep > 0"> Step 3 of 5 </span><!----> 
              </div>
            </div>
            <div class="form-group">
              <label for="sel3">How do you like to be contacted?</label>
              <select class="form-control" id="sel3">
                <option>-- Select your option --</option>
                <option>Option1</option>
                <option>Option2</option>
                <option>Option3</option>
              </select>
            </div>
            </br>
            <div class="form-group shadow-textarea">
              <label class="" for="exampleFormControlTextarea6">Not What you are looking for?</label>
              <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3" placeholder="Write something here..."></textarea>
            </div>
            </br>
            <center>
              <button class="btn-primary-line tablinks" onclick="openCity(event, 'visibility')">Next</button>
            </center>
          </div>
          <!--End experties-->
          <!-- Visibility Start -->
          <div id="visibility" class="tabcontent">
            <div class="topheader" >
              <div>
                <h2>Visibility</h2>
                <span data-ng-if="vm.showProgress &amp;&amp; vm.atStep > 0"> Step 4 of 5 </span> 
              </div>
            </div>
            <label> Who can see your job? </label></br>
            <div class="row">
              <div class="col-sm-4 divstyle">
                <span><i class="fa fa-users" aria-hidden="true" style="color:#EC1C24;"></i></span></br>
                <div>
                  <lable>Anyone</lable>
                  <!---->
                  <small>Freelancers and agencies using Upwork and public search engines can find this job.</small><!----> 
                </div>
              </div>
              <div class="col-sm-4 divstyle">
                <span><i class="fa fa-desktop" aria-hidden="true" style="color:#EC1C24;"></i></span></br>
                <div>
                  <lable>Only Kopilot talent</lable>
                  <!---->
                  <small>Only Kopilot users can find this job.</small></br><!----> 
                </div>
              </div>
              <div class="col-sm-4 divstyle">
                <span><i class="fa fa-lock" aria-hidden="true" style="color: #EC1C24;"></i></span></br>
                <div>
                  <lable>Invite-only</lable>
                  <!---->
                  <small>Only freelancers and agencies you have invited can find this job.</small><!----> 
                </div>
              </div>
            </div>
            </br>
            <label> How many freelancers do you need for this job? </label>
            </br>
            <div class="row">
              <div class="col-lg-5 divstyle">
                <span><i class="fa fa-user" aria-hidden="true" style="color: #EC1C24;"></i></span></br>
                <label>Build my team</label></br>
              </div>
              <div class="col-lg-5 divstyle">
                <span><i class="fa fa-users" aria-hidden="true" style="color:#EC1C24;"></i></span></br>
                <label>More than one freelancer</label></br>
                <small>Only Kopilot users can find this job.</small>
              </div>
            </div>
            </br>
            <center>
              <button class="btn-primary-line tablinks" onclick="openCity(event, 'budget')">Next</button>
            </center>
          </div>
          <!-- </div> -->
          <!-- </div> -->
          <!--End Visibility-->
          <!-- Budget Start -->
          <div id="budget" class="tabcontent">
            <div class="topheader" >
              <div>
                <h2>Budget</h2>
                <!----><span data-ng-if="vm.showProgress &amp;&amp; vm.atStep > 0"> Step 5 of 5 </span><!----> 
              </div>
            </div>
            <div class="form-group">
              <label>How would you like pay your freelancer or agency?</label>
              <div class="row">
              <div class="col-lg-5 divstyle">
                <span><i class="fa fa-clock-o" aria-hidden="true"></i></span></br>
                <lable> Per Hour </lable>
              </div>
              <div class="col-lg-5 divstyle">
                <span><i class="fa fa-usd" aria-hidden="true"></i></span></br>
                <lable>Fixed prize</lable>
              </div>
              </div>
              </br>
             
              <label for="sel4">What level of experience should your freelancer have?</label>
              <select class="form-control" id="sel4">
                <option>-- Select your option --</option>
                <option>Option1</option>
                <option>Option2</option>
                <option>Option3</option>
              </select>
            </div>
            </br>
            <center>
              <button class="btn-primary-line tablinks">Submit</button>
              </br>
              <!-- <button class="btn-primary-line tablinks" onclick="openCity(event, '#')"><a class="btn-nav-primary" href="#">Submit</a></button> -->
            </center>
          </div>
          <!--End Budget-->
          <!-- ======================================================= -->
        </div>
      </div>
    </section>
    <!-- ***** Footer Start ***** -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12">
            <img src="images/logo/KoPilot_logo.png" class="logo" alt="">
            <div class="text">KoPilot is a web‐based platform that takes everyday inventors and hardware start‐ups through the product development process quickly and affordably.</div>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <h5>Helpful Links</h5>
            <ul class="footer-nav">
              <li><a href="MakerProfileCreatePage1.html"><i class="fa fa-angle-right"></i><span>Makers Profile</span></a></li>
              <li><a href="usersprofile.html"><i class="fa fa-angle-right"></i><span>User Profiles</span></a></li>
              <li><a href="ProfileQuestions.html"><i class="fa fa-angle-right"></i><span>Profile Questions</span></a></li>
              <li><a href="ProjectList.html"><i class="fa fa-angle-right"></i><span>Project List</span></a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-4 col-sm-6 col-6">
            <!-- <h5>Support</h5> -->
            <ul class="footer-nav">
              <li><a href="questionsforinventer.html"><i class="fa fa-angle-right"></i><span>Inventer Profile Questions</span></a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i><span>Terms of Use</span></a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i><span>Support Center</span></a></li>
              <li><a href="contactus.html"><i class="fa fa-angle-right"></i><span>Contact Us</span></a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-4 col-sm-12">
            <h5>Contact Us</h5>
            <div class="address">
              <p>455 West Orchard Street<br>Kings Mountain, NC 28086</p>
              <p>Phone: (272) 211-7370</p>
              <p><span>E-Mail:</span><a href="#">support@yourbrand.com</a></p>
              <ul class="social">
                <li><a href="#"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter-square"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus-square"></i></a></li>
                <li><a href="#"><i class="fa fa-github-square"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <p class="copyright">© 2019 KoPilot. All Rights Reserved.</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- ***** Footer End ***** -->
    <!-- jQuery -->
    <script src="js/jquery-2.1.0.min.js"></script>
    <!-- Bootstrap -->
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins -->
    <!-- <script src="js/scrollreveal.min.js"></script>
      <script src="js/parallax.min.js"></script>
      <script src="js/waypoints.min.js"></script>
      <script src="js/jquery.counterup.min.js"></script>
      <script src="js/imgfix.min.js"></script>  --> 
    
    <!-- sidebar Script -->
    <script>
      function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
      }
      
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();
    </script>
  </body>
</html>